<% unless locals.empty? %>
  <i><%= message %></i>
<% end %>

<h1><%= @recipe.name %> Recipe</h1>
<i><h3>Author: <%= @recipe.username %></h3></i>

<h2>Ingredients</h2>
  <% @recipe.ingredients.each do |i| %>
    <li><%= i.name %></li>
  <% end %>

<h2>Directions</h2>
  <%= @recipe.directions %>
<br><br><br><br>

<a href="/recipes/<%= @recipe.id %>/edit"><button>Edit Recipe</button></a>
<br><br>

<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Recipe">
</form>

<br>
<a href="/recipes/new"><button>Add New Recipe</button></a>
